/* colours */
:root{
  --primary: #ede7f6;
  --secondary: #d1c4e9;
  --title: #b39ddb;
}

/* layout styles */
nav{
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}
nav a{
  text-transform: uppercase;
  color: var(--title);
}
nav a span{
  font-weight: bold;
}
nav .sidenav-trigger{
  margin: 0;
}

/* list styles */
.lists{
  margin-top: 20px;
}
.card-panel.list{
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
}
.list img{
  grid-area: image;
  max-width: 90px;
  margin-top: 18px;
}
.list-details{
  grid-area: details;
  margin-top: 6px;
}
.list-delete{
  grid-area: delete;
  position: absolute;
  right: 0px;
}
.list-delete i{
  font-size: 22px;
  cursor: pointer;
  color: #9e9e9e;
}
.list-delete i:hover{
  color: #b388ff;
}
.list-title{
  font-weight: bold;
  font-size: 18px;
  color: #b39ddb;
  padding-bottom: 5px;
}
.list-ingredients{
  font-size: 0.8em;
}

/* form-styles */
.add-btn{
  background: var(--title) !important;
}
input{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.side-form button{
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
}
form .input-field{
  margin-top: 30px;
}
.item-delete {
  float: right;
  cursor: pointer;
}

.item-delete i{
  font-size: 18px;
  color: #9e9e9e;
}

.item:hover {
  background-color: rgba(237, 231, 246, 0.4);
}
.item i:hover{
  color: #b388ff;
}
/* others */
.container {
  max-width: 550px;
}

[type="checkbox"]+span:not(.lever) {
  padding-left: 25px;
}

.material-icons {
  cursor: pointer;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #b388ff;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: #b388ff;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  border: 2px solid #808080;
}

[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid #b388ff;
  border-bottom: 2px solid #b388ff;
}

.sidenav li>a:hover {
  background-color: rgba(237, 231, 246, 0.4);
}

input[name="complete"]:checked + span {
  text-decoration: line-through;
}